input[type="submit"],
.btn {
  background-color: #ff4769;
  border: none;
  text-decoration: none;
  padding: 5px 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 2px;
  cursor: pointer;
  width: fit-content;
  box-shadow: 2px 2px 2px rgba(68, 67, 67, 0.507);
}

.should_hover:hover {
  background-color: tomato;
}

.alternateMethod {
  display: inline-block;
  cursor: pointer;
  margin: 0px 20px;
  padding: 0px 5px;
}

.alternateMethod:hover {
  border-bottom: 1px solid tomato;
}

.formWrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  position: absolute;
  background: white;
}

.formContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.formBody {
  height: 100vh;
  width: 450px;
  padding: 10px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.namesContainer {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.register_success_login_info {
  opacity: 0.9;
  margin: 0 0 20px;
  background-color: dodgerblue;
  color: white;
  padding: 5px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}

@media screen and (max-width: 600px) {
  .namesContainer {
    flex-direction: column;
    max-width: 95%;
  }

  .formBody {
    overflow-x: hidden;
    padding-top: 10px;
  }

  .formWrapper {
    height: 100%;
  }

  input[type="submit"],
  .btn {
    margin-top: 60px;
  }
}
