:root {
  --menu_bg: #ffeeec;
  --primary: #ff4769;
  --secondary: #ff655b;
}

.new_project_btn:hover {
  color: white;
}

.new_project_btn {
  color: rgba(255, 255, 255, 0.7);
  width: fit-content;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.dashboard_header {
  color: white;
  display: grid;
  width: 100%;
  height: fit-content;
  grid-template-columns: 1fr 1fr;
  line-height: normal;
  align-items: center;
  padding: 0 2rem;
}

.project-setting-icon:hover {
  transform: rotate(150deg) scale(1.2);
  transition: transform 200ms linear;
}

.project-icon {
  font-size: 1.2rem;
  margin-left: 10px;
}

.project_card_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: fit-content;
  padding: 10px;
  border-radius: 4px;
  border-color: rgba(163, 161, 161, 0.7);
  position: relative;
  margin: 20px 10px;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
  border: 1px solid transparent;
  background-color: white;
}

.project_card_body:hover {
  border: 1px solid var(--primary);
}

.project_card_body:hover .project-setting-icon {
  color: black !important;
}

.project-icon:hover {
  transform: scale(1.3);
  transition: transform 200ms linear;
}

.blue_on_hover:hover {
  color: #0080b9;
}

.new_project_wrapper {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2466);
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_project_container {
  max-width: 700px;
  margin: auto;
  z-index: 3;
  position: fixed;
  top: 30px;
  color: var(--primary);
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.384);
}

.new_project_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.3rem;
}

.new_project_close_btn {
  transform: translateY(-20%) translateX(30%);
  cursor: pointer;
}

.new_project_body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.new_project_form {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0.5rem;
  align-items: center;
}
.thumbnail_btn {
  color: var(--primary);
  display: flex;
  align-items: center;
  margin: 10px;
}

.publish_btn {
  background-color: var(--secondary);
  color: white;
  border: none;
  box-shadow: 1px 1px 3px rgba(46, 46, 46, 0.521);
  font-weight: 500;
  margin: 20px;
}

.cancel_btn {
  font-weight: 500;
}

.illustration_container {
  padding: 40px 0px;
  margin: 20px 0px;
}
